.main__about {
    background-color: var(--background-secondary);
    text-align: left;
    padding: 5rem;
    margin: 0 3rem 0 1rem;
}

.main__about___div {
    width: 70vw;
}


/*Tablet or Ipad*/

@media (max-width:900px) {
    .main__about {
        padding: 2rem;
        margin: auto;
    }
    .main__about___div {
        margin: auto;
        width: 100%;
    }
}